# Quickly navigate up the *great hollow*
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Directory shortcuts
alias db='cd ${HOME}/Dropbox'
alias dl='cd ${HOME}/Downloads'
alias dt='cd ${HOME}/Desktop'
alias rp='cd ${HOME}/dev/repos'
alias mi='cd ${HOME}/Dropbox/mi'

# Weather
# Found in @noopkat’s dotfiles (https://github.com/noopkat/dotfiles)
alias weather='curl http://wttr.in/Weimar'
alias moon='curl http://wttr.in/Moon'

# Extract .tar.gz archives because I don’t want to remember the required flags
alias untargz='tar -xf'

# I finally had enough of typing this out
alias aptupdate='sudo apt update \
  && apt list --upgradable \
  && sudo apt upgrade -y'

alias update='npm install -g npm; \
  npm update -g; \
  gem update; \
  gem cleanup'

# Echo path, but with each entry on its own line
alias path='echo -e ${PATH//:/\\n}'

# As everything is hard on Ubuntu, alsamixer has no concept of a persistent
# configuration and forgets everything you tell as soon as possible.
alias alsarestore='alsactl --file ~/.config/asound.state restore'

# Open files in an editor like code, subl, gedit or vim.
alias o=code

# SSH shortcuts
alias ssh-uber-phl='ssh phl@markab.uberspace.de'
alias ssh-uber-phr='ssh phr@brorsen.uberspace.de'
alias ssh-uber=ssh-uber-phl


alias pi='ssh pi@192.168.178.34'

# Simple web server for static files
alias http-server='python3 -m http.server 8080'



# Webis
alias webis='cd ${HOME}/dev/cvs/web-technology-lab'
alias ssh-webis='ssh ranu2619@webisnetwork.uni-weimar.de'
alias pdflatex-webis='TEXINPUTS=../../lecturenotes-tex:$TEXINPUTS pdflatex'



# Create a directory and the change working directory to it
make_change_dir() {
  # Create a directory if it doesn’t already exist
  mkdir -p -- "$1" &&
  # Change directory to the previously created directory
  # `$_` refers to the argument used in the last command
  cd -- "$_"
}

alias mkcd=make_change_dir

# Enable colored output and sort output by directory first, files second,
# symlinks third

# Default ls should always show
# -l  as a list
# -h  with human-readable file sizes
# -F  with indicator (e.g. trailing / for directories)
alias ls='ls -lhF --color'

list_sorted() {
  # List directories
  ls $* | grep "^d" | awk '{printf "\033[1;34m🖿\033[0m  " $0 "\n"}';
  # List regular files
  ls $* | grep "^-" | awk '{print "🗎  " $0}';
  # List links
  ls $* | grep "^l" | awk '{print "🔗 " $0}';
  # List everything else (e.g. symbolic links)
  ls $* | grep -v -E "^d|^-|^l|^total"
}

alias ll=list_sorted
