# Be nice to the machine.
alias please='sudo'

# Directories
alias ..='cd ..'
alias dl='cd ${HOME}/Downloads'
alias dt='cd ${HOME}/Desktop'
alias dev='cd ${HOME}/dev'
alias oss='cd ${HOME}/dev/open-source'

# Git
alias gs='git status'
alias gsw='git checkout'
alias gswm='git switch $(git_main_branch)'
alias grbbeta='git rebase beta $(current_branch)'
alias grbalpha='git rebase alpha $(current_branch)'
alias grbnext='git rebase next $(current_branch)'
alias branches="git for-each-ref --sort=-committerdate refs/heads/ --format='%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'"



# Print a 3-day weather forecast.
weather() {
  # Argument 1: The location to get a weather report for. Try “weather Moon”.
  local location="${1:-Eindhoven}"
  curl http://wttr.in/${location};
}



# Extract .tar/.tar.gz/.tar.bz archives because who has time to remember this awful interface.
alias untar='tar -xf'
alias untargz='tar -xzf'
alias untarbz='tar -xjf'

# I finally had enough of typing this out
alias aptupdate='sudo apt update \
  && apt list --upgradable \
  && sudo apt upgrade -y \
  && sudo snap refresh'

# Echo path, but with each entry on its own line
alias path='echo -e ${PATH//:/\\n}'

# Open files in an editor like code, subl, gedit or vim.
alias o=code

# Cat replacement.
# https://github.com/sharkdp/bat
alias cat='batcat --plain'

# Find replacement.
# https://github.com/sharkdp/fd
alias fd='fdfind'

# Workaround for peek not being able to capture the mouse cursor.
alias peek='peek -b ffmpeg'



# Default “ls” should always show
# -l  as a list
# -h  with human-readable file sizes
# -F  with indicator (e.g. trailing / for directories)
alias ls='ls -lhF --color'

# Better directory listing.
#
# Enable colored output and sort output in the following order:
# directory, regular files, symbolic links
list_sorted() {
  test_result="$(ls $* 2> /dev/null)"
  if [[ $? -ne 0 ]]; then
    # For non-existing paths, just print one ls result.
    ls $*
  else
    # List directories
    ls $* | grep "^d" | awk '{printf "\033[1;34m📁\033[0m " $0 "\n"}';
    # List regular files
    ls $* | grep "^-" | awk '{print "📄 " $0}';
    # List links
    ls $* | grep "^l" | awk '{print "🔗 " $0}';
    # List everything else (e.g. symbolic links)
    ls $* | grep -v -E "^d|^-|^l|^total"
  fi
}

alias ll=list_sorted


# Tree-like directory listing.
alias tree="tree --dirsfirst -F -I '.git|node_modules'"

# Make sure “python” defaults to version 3
alias python=python3
alias pip=pip3

# Deploy my website via rsync.
alias deploy_kleinfreund='rsync -av -e ssh --delete ${HOME}/dev/sites/kleinfreund.de/_site/ phr@brorsen.uberspace.de:/var/www/virtual/phr/kleinfreund.de'
alias deploy_bbkv='rsync -av -e ssh --delete ${HOME}/dev/sites/bbk-vogtland.de/_site/ phrbbkv@gale.uberspace.de:/var/www/virtual/phrbbkv/bbk-vogtland.de'
alias deploy_artrudloff='rsync -av -e ssh --delete ${HOME}/dev/sites/artrudloff.de/_site/ phrrud@whipple.uberspace.de:/var/www/virtual/phrrud/artrudloff.de'
