[user]
	email = philipprudloff@fastmail.com
	name = kleinfreund
[push]
	default = current
[core]
	editor = code -w
	excludesfile = ~/.gitignore_global
[alias]
	cm = commit -m
	co = checkout
	com = checkout master
	lg = log --oneline --graph
	st = status
	# Undo current commits
	undo = reset --soft HEAD^
	# Undo git add
	unadd = reset HEAD
	# Amend to the most recent commit
	amend = commit --amend --no-edit
[rebase]
	autostash = true
