[user]
	email = phrudloff@gmail.com
	name = kleinfreund
[push]
	default = current
[core]
	editor = code -w
	excludesfile = ~/.gitignore_global
[alias]
	br = branch
	ci = commit
	cm = commit -m
	co = checkout
	lg = log --pretty=oneline --abbrev-commit --graph --decorate
	st = status
	# Undo current commits
	undo = reset --soft HEAD^
	# Undo git add
	unadd = reset HEAD
	# Amend to the most recent commit
	amend = commit --amend --no-edit
[rebase]
	autostash = true
