[user]
	email = philipprudloff@fastmail.com
	name = kleinfreund
[push]
	default = current
[core]
	editor = code -w
	excludesfile = ~/.gitignore_global
[alias]
	cm = commit -m
	co = checkout
	com = checkout master
	lg = log --oneline --graph
	re = restore
	st = status
	sw = switch
	# Undo current commits
	undo = reset --soft HEAD^
	# Undo git add
	unadd = reset HEAD
[rebase]
	autostash = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[format]
	pretty = format:%C(yellow)commit %H%nAuthor: %an <%ae>%nDate:   %ad%n%n%C(green)%B
[gpg]
	format = ssh
